version: '3.7'
services:
  nginx:
    image: nginx:alpine
    depends_on:
      - inventree
    networks:
      - inventree
    volumes:
      - static:/var/www/inventree/static
      - media:/var/www/inventree/media

  mariadb:
    image: mariadb:latest
    environment:
      - MYSQL_ROOT_PASSWORD=CHANGEME
      - MYSQL_DATABASE=inventree
      - MYSQL_USER=inventree
      - MYSQL_PASSWORD=CHANGEME
# work around for https://github.com/docker-library/mariadb/issues/262
      - MYSQL_INITDB_SKIP_TZINFO=1
    networks:
      - mariadb
    volumes:
      - mariadb:/var/lib/mysql

  inventree:
    image: zeigren/inventree:latest
    container_name: inventree
    depends_on:
      - mariadb
    networks:
      - inventree
      - mariadb
    volumes:
      - static:/usr/src/static
      - media:/usr/src/media
    environment:
      # RUN MIGRATE_STATIC WHENEVER YOU UPDATE THE INVENTREE CONTAINER TO A NEW VERSION
      - MIGRATE_STATIC=False
      - DATABASE_NAME=inventree
      - DATABASE_USER=inventree
      - DATABASE_PASSWORD=CHANGEME
      # CREATE SUPERUSER ONCE THEN DELETE THESE
      - CREATE_SUPERUSER=False
      - DJANGO_SUPERUSER_USERNAME=admin
      - DJANGO_SUPERUSER_EMAIL=admin@admin.com
      - DJANGO_SUPERUSER_PASSWORD=admin

networks:
  inventree:
  mariadb:

volumes:
  static:
  media:
  mariadb:
